<div class="about-container">
  <h2>some things about rentalCars</h2>
  <div>
    <h3><strong>About Us</strong></h3>
    <p>
      Welcome to rentalCars your trusted partner for renting the perfect car!
    </p>
    <p>
      We re here to make your journey as smooth and enjoyable as possible.
      Whether you need a sleek sedan for a business meeting, a spacious SUV for
      a family road trip, or an eco-friendly ride for everyday use, we ve got a
      car that fits your needs.
    </p>
    <p>At rentalCars, we take pride in offering:</p>
    <ul>
      <li>
        <strong>A Wide Range of Vehicles:</strong> From economy cars to luxury
        models, our fleet is designed to match every occasion and budget.
      </li>
      <li>
        <strong>Affordable Pricing with No Hidden Fees:</strong>Transparent
        pricing means you know exactly what you re paying for—no surprises.
      </li>
      <li>
        <strong>Top-Notch Customer Service</strong>Our team is dedicated to
        making your rental experience fast, easy, and stress-free.
      </li>
      <li>
        <strong>Reliability You Can Count On:</strong>All our cars are
        well-maintained, regularly serviced, and ready to hit the road.
      </li>
    </ul>
    <p class="last-par">
      Welcome to rentalCars your trusted partner for renting the perfect car! We
      re here to make your journey as smooth and enjoyable as possible. Whether
      you need a sleek sedan for a business meeting, a spacious SUV for a family
      road trip, or an eco-friendly ride for everyday use, we ve got a car that
      fits your needs. At rentalCars, we take pride in offering: A Wide Range of
      Vehicles: From economy cars to luxury models, our fleet is designed to
      match every occasion and budget. Affordable Pricing with No Hidden Fees:
      Transparent pricing means you know exactly what you re paying for—no
      surprises. Top-Notch Customer Service: Our team is dedicated to making
      your rental experience fast, easy, and stress-free. Reliability You Can
      Count On: All our cars are well-maintained, regularly serviced, and ready
      to hit the road. Whether you re planning a weekend getaway, a business
      trip, or just need a car for the day, rentalCars is here to deliver a
      hassle-free experience with comfort and confidence. Drive with us—your
      journey begins here!
    </p>
  </div>
</div>
