<div class="home-background">
  <img
    class="img-rent"
    src="https://img.freepik.com/free-vector/car-rental-concept-illustration_114360-9267.jpg?t=st=1737651219~exp=1737654819~hmac=f4360fa39b6bc1fb8360946a5b20ef7c6e3a6a4380bf28e5ca03c7c67a0c29ad&w=1060"
    alt="car logo"
  />
  <h1 class="header"><strong>you</strong> choose your car,you rent it..!</h1>
  <input
    class="search-cars"
    type="text"
    placeholder="check for cars.."
    [(ngModel)]="filteredCars"
  />
  <div class="arrow">
    <span><i class="fa-solid fa-arrow-down"></i></span>
  </div>
</div>
<p class="thecars">*take a look of the cars..!</p>
<div class="allcars">
  <div *ngFor="let car of filterCar()">
    <ul class="cars">
      <li>
        <img class="car-image" [src]="car.img" />
        <div class="line"></div>
        <div class="car-details">
          <h2><span>model</span>:{{ car.model }}</h2>
          <p><span>year:</span>{{ car.year }}</p>
          <p><span>color:</span>{{ car.color }}</p>
          <p><span>gus:</span>{{ car.gus }}</p>
          <p><span>price per day:</span>{{ car.pricePerDay | currency }}</p>
        </div>
        <div class="fav-btn">
          <button (click)="addBtn(car)">add</button>
        </div>
      </li>
    </ul>
  </div>
</div>
